/*右边标题*/
.content .rightContent{width:660px;padding-right:57px;padding-top:55px;}
.content .rightContent .stitle{background:url(../images/sprite/member.png) no-repeat 0px 5px;padding-left:20px;color:#262626;}

.content .rightContent .top a{color:#710423;background:url(../images/sprite/member.png) no-repeat 55px -18px;}
.content .rightContent .top {border-bottom:1px solid #eaeaea;}

.content .rightContent .problem{padding-top:38px;}
.content .rightContent .problem label{color:#595757;}
.content .rightContent .problem .describe{height:101px;width:505px;outline:none;text-indent:11px;line-height:30px;}
.content .rightContent .problem .apply a{background:#710423;color:#fff;display:block;width:94px;height:35px;text-align:center;line-height:35px;}
.content .rightContent .problem .apply{padding-left:93px;padding-top:9px;}


.wrapper .main .page{border-bottom:0;position:absolute;bottom:0px;left:427px;width: 325px;}
.wrapper .main .page a{font-size:12px;}
.wrapper .main .page .next{color:#7f7f7f;}
.wrapper .main .page a.one,.wrapper .main .page a.all:hover{color:#710423;font-weight:bold;}

